<h1>Devendra</h1>
<p>First Name *:
  <input type="text" name="username"size="15"maxlength="40"/>
</p>  
<div class="lastname">
   <p>Last Name *:
     <input type="text" name="username"size="15"maxlength="40"/>
   </p>  
</div>
<div class="mail">
  <p> Email Address *:
    <input type="email"name="email"/>
  </p>
<div>  
<div class="db">
    <label for="username">Date oft Birth *: </label>
    <input type="date"name="depart"/>
</div>  
<div class="city">
  <p> Home City *:
    <input type="city"name="city"/>
  </p>
<div>   
<div class="Cono">
    <p> Official Identification*:
      <input type="string"name="Identification"> 
    </p>
</div>   
<div class="Cono">
    <p> Language*:
      <input type="string"name="language"> 
    </p>
</div>   
<div class="currency">
    <p> Currency*:
      <input type="string"name="Identification"> 
    </p>
</div>   